* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.controlsContainer {
  background-color: #ECF0F1;;
  display: flex;
  flex-direction: column;
  float: left;
  width: 125px;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  border-right: 0px solid black;
}

.title {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 2px;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 8px;
}

.controlPanel {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.sliders {
  display: flex;
  flex-direction: column;
}

.control {
  margin-bottom: 20px;;
}

.control.reset {
  padding-top: 20px;
}

.control.reset button {
  background-color: #d3d3d3;
  border: none;
  color: black;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.label {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 1px;
}

#canvasParent {
  width: 100%;
  height: 100%;
  background-color: #777;
  background-color: #28282B;
}

#a, #b, #c, #d, #speed {
    width:80px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #777;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  #root {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
  }

  .controlsContainer {
    display: flex;
    flex-direction: row;
    float: left;
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    border-top: 2px solid black;
    border-right: none;
  }

  .title {
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 2px;
    padding-top: 20px;
    padding-left: 20px;
  }
  
  .controlPanel {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 20px;
  }

  .control.reset {
    padding-left: 75px;
  }

  .control.reset button {
    background-color: #d3d3d3;
    border: none;
    color: black;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .control {
    padding-bottom: 40px;
  }

  #a, #b, #c, #d, #speed {
    width: 200px;
  }

  .label {
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 1px;
    padding-bottom: 5px;
  }

  .slider::-webkit-slider-thumb {
    width: 35px;
    height: 35px;
  }
}